services:
  gateway-service:
    build:
      context: ./gateway-service
      dockerfile: Dockerfile
    container_name: instrlabs-gateway-service
    restart: unless-stopped
    env_file:
      - ./gateway-service/.env
    command: [ "./app" ]
    ports:
      - "3000:3000"

  notification-service:
    build:
      context: ./notification-service
      dockerfile: Dockerfile
    container_name: instrlabs-notification-service
    restart: unless-stopped
    env_file:
      - ./notification-service/.env
    command: [ "./app" ]
    ports:
      - "3001:3000"

  auth-service:
    build:
      context: ./auth-service
      dockerfile: Dockerfile
    container_name: instrlabs-auth-service
    restart: unless-stopped
    env_file:
      - ./auth-service/.env
    command: [ "./app" ]
    ports:
      - "3002:3000"

  image-service:
    build:
      context: ./image-service
      dockerfile: Dockerfile
    container_name: instrlabs-image-service
    restart: unless-stopped
    env_file:
      - ./image-service/.env
    command: [ "./app" ]
    ports:
      - "3003:3000"

  pdf-service:
    build:
      context: ./pdf-service
      dockerfile: Dockerfile
    container_name: instrlabs-pdf-service
    restart: unless-stopped
    env_file:
      - ./pdf-service/.env
    command: [ "./app" ]
    ports:
      - "3004:3000"

  product-service:
    build:
      context: ./product-service
      dockerfile: Dockerfile
    container_name: instrlabs-product-service
    restart: unless-stopped
    env_file:
      - ./product-service/.env
    command: [ "./app" ]
    ports:
      - "3005:3005"
