# Dependencies
node_modules
npm-debug.log
yarn-debug.log
yarn-error.log

# Next.js build output
# Don't ignore .next since we need it in the Docker build
# .next

# Git
.git
.gitignore

# IDE
.idea
.vscode

# Environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Misc
README.md
.DS_Store
*.pem
